@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.swiperstyle1 {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
    background-color: #ffffff !important;
  }
}


.swiper-pagination-bullet {
  height: 11px!important; width: 11px!important;
  opacity: 1!important;
  border: 1px solid #BCD42F;
  background: rgb(255, 255, 255) !important;
}
.swiper-pagination-bullet-active {
  background: #BCD42F !important;
}

.animate-x{
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}